<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace = " com.juhyang.hyamstagram.post.comment.dao.CommentDAO">
<insert id ="insertComment" parameterType = "map">
insert into comment(
comment_post_id,
comment_userId,
comment_userName,
comment,
createdAt
)	
values(
#{postId}
, #{userId}
, #{userName}
,#{content}
,now()
)
</insert>

<select id ="selectCommentListByPostId" resultType = "com.juhyang.hyamstagram.post.comment.model.Comment">
	SELECT 
			`comment_id`
			, `comment_post_id`
			, `comment_userId`
			, `comment_userName`
			, `comment`
			, `createdAt`
		FROM
			`comment`
		WHERE 
			`comment_post_id` = #{postId }
		ORDER BY `id` DESC
</select>

</mapper>