<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.juhyang.hyamstagram.like.dao.LikeDAO">
	<insert id ="addLike" parameterType ="map">
	INSERT INTO `like` 
		(	`like_postId`
			,`like_userId`
			, `createdAt`
			
		) VALUES (
			#{postId}
			,#{userId}
			, now()
		)
	</insert>
	
	<delete id ="deleteLike" >
	DELETE FROM `like` 
	WHERE
		`like_postId` =  #{postId}
	AND
		`like_userId` = #{userId}
	</delete>
	
	
	
	<select id = "selectLike" resultType ="Integer">
	select count(*) from `like`
	where `like_postId` = #{postId}
	</select>
	
	<select id ="selectLikeList"  resultType ="com.juhyang.hyamstagram.like.model.Like">
	select
	*
	from `like`
	</select>
	
	<select id="selectCountLikeByUserId" parameterType="map" resultType="int">
		SELECT 
			count(*)
		FROM
			`like`
		WHERE
			`like_postId` = #{postId}
			AND `like_userId` = #{userId}
	
	</select>
	<delete id ="deleteLikeByPostId">
		DELETE FROM 
			`like` 
		WHERE
			`like_postId` =  #{postId}
	</delete>
</mapper>