@charset "UTF-8";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*{
	font-family: 'Gowun Dodum', sans-serif;
}
html,
      body {
        width: 100%;
        height: 100%;
        margin: 0;
        background-color:pink;
      }


h1{
	color:white;
}

#wrap{
	width:100%;
	margin:0;
}

input{
	margin-top:15px;
}

.form{
	margin-top:100px;
	width:50%;
	height:0px;

}