@charset "UTF-8";
body{margin:0}

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*{
	font-family: 'Gowun Dodum', sans-serif;
}
#logo-second-text{
	background-color:pink;
	opacity:0.7;
}

#wrap{
	
	width:1200px;
	margin:0 auto;
}

#profileImage
{
	width:100px;
	height:100px;
	margin:0 auto;
}
#uploadImage{
	width:300px;
	height:300px;

}
#contentInput{
	background-color: pink;
	color:white;
	width:100%;
	resize: none;
}

.dropdown{
  position : relative;
  display : inline-block;
}

.dropbtn_icon{
  font-family : 'Material Icons';
}
.dropbtn{
  border-radius: 4px;
  background-color: #e2f0ff;
  font-weight: 400;
  color : rgb(37, 37, 37);
  padding : 12px;
  width :200px;
  cursor : pointer;
  font-size : 12px;
}
.dropdown-content{
  display : none;
  position : absolute;
  z-index : 1; /*다른 요소들보다 앞에 배치*/
  font-weight: 400;
  background-color: #f9f9f9;
  min-width : 200px;
}

.dropdown-content a{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;
  padding : 12px 20px;
}

.dropdown-content a:hover{
  background-color : #ececec
}

.dropdown:hover .dropdown-content {
  display: block;
}

#uploadBtn{
	background-color: pink;
	color:white;
}
#userInfo{
	height:50px;
}



header{
	width:1200px;
	height:80px;

}

	#profile{
		font-size:40px;
	}
	
	#home{
		font-size:40px;
	}
	
	#postBtn{
		font-size:40px;
	}



section{
	      
	width:1200px;

	
}

section>#post{
	width:600px;
	
}


