@charset "UTF-8";
body{margin:0}

#wrap{
	
	width:1200px;
	height:1800px;
	float:none;
	margin:0 auto;
}
#profileImage
{
	width:100px;
	height:100px;
	margin:0 auto;
}
#uploadImage{
	width:300px;
	height:300px;

}



#userInfo{
	height:50px;
}
header{
	width:1200px;
	height:80px;

}

section{
	      
	width:1200px;
	height:700px;
	
}

section>#post{
	width:600px;
	
}